<head>
    <title>Velammal Crackers | Online Crackers Shop | Sivakasi Crackers | Diwali Crackers Sale | Fireworks Shops in
        Sivakasi | Buy Online Crackers</title>
    <link rel="stylesheet" href="./header.component.css">
</head>

<body>
    <div class="head-section">
        <div class="col-lg-4">
            <div class="left-section">Click to chat</div>
        </div>
        <div class="col-lg-8">
            <div class="right-section">Diwali Sale is open now.Please buy early to get best discounts Happy
                Diwali...&#33;&#33;&#33;&#33;</div>
        </div>
    </div>
    
    <div class="details-section">
        <div class="left col-lg-4">
            <div class="address">
                <div class="map-logo">
                    <img class="map-img" src="assets/images/gmap1.png">
                </div>

                <div class="address-details">
                    <div class="title">Address</div>
                    <div class="title1">Velammal crackers, 3/58A1B, Anaiyur, Vilampatti road,</div>
                    <div class="title2">Othapuli bustop, Sivakasi - 626124</div>
                </div>
            </div>
        </div>

        <div class="middle col-lg-4">
            <img class="middle-img" src="assets/images/velammalcrackers.jpg">
        </div>

        <div class="right col-lg-4">
            <div class="phone">
                <div class="contact">
                    <p class="faq">FOR QUERIES &
                        <br>
                        BULK ORDER
                    </p>
                    <img class="phonecall-img" src="assets/images/phonecall.png">
                </div>
                <div class="contact-no">
                    +91 63831 90286
                    <br>
                    +91 63800 65936
                </div>
            </div>
        </div>
    </div>

    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-3">
                </div>
                <div class="col-md-9 col-sm-9 col-9">
                    <div class="menu">
                        <ul>
                            <li>HOME</li>
                            <li>ABOUT US</li>
                            <li>QUICK PURCHASE</li>
                            <li>SAFETY TIPS</li>
                            <li>CONTACT US</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="bg-img">
        <img class="background-img" src="assets/images/home_banner_17_12_2022_05_17_52.jpg">
    </div>

    <div class="head-title">
        <div class="row">
            <div class="col-lg-12">
                <div>
                    <h1 class="main-title">Velammal Crackers</h1>
                </div>
                <div class="description">
                    <p class="description-content">Velammal Crackers is a reputed Manufacturer and Suppliers, who has
                        been involved in fire crackers business.
                        Commitment to our customers is one of our core values. We offer various range of fireworks
                        products such as sparklers,
                        ground chakkaras, twinkling star, chorsa, rockets, flower pots, pencils, atombombs, colour
                        matches, and all other fancy
                        items.
                    </p>
                </div>
                <div class="grids">
                    <div class="col-lg-6 col-md-6 col-12">
                        <img src="assets/images/aboutimage1.jpg" class="img-fluid" alt="Shop" title="Shop">
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <img src="assets/images/aboutimage2.jpg" class="img-fluid1" alt="Shop" title="Shop">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container1">
        <div class="row1">
            <diV class="left-row1 col-lg-6">
                <div class="left-content">
                    <h2 class="about-heading">About Velammal Crackers</h2>

                    <p class="about-contents">
                        Velammal Crackers shop for wholesale, retail and online sales in sivakasi has a strong base in
                        supplying,
                        crackers, fancy, pyrotech items and gift boxes for whole tamilnadu throughout the year for all
                        festivals
                        and celebrations.
                    </p>
                    <p class="about-contents">
                        This is an outcome of the experience and knowledge we share in the field of selling
                        firecrackers.
                        We are a wholesale trader of multi brand firecrackers. We have our own exclusive showroom in
                        Sivakasi.
                    </p>
                    <p class="about-contents">
                        One can buy crackers from us round the year.
                        Buying quality crackers during all season we came up with the solution to buy crackers online.
                    </p>
                </div>
            </diV>
            <diV class="right-row1 col-lg-6">
                <div class="right-content">
                    <img class="about-img" src="assets/images/about2.jpg" alt="">

                    <div class="experience-img">
                        <h2 class="h2">
                            <strong style="font-size: 40px;">10+</strong><br>
                            Years of experience
                        </h2>
                    </div>
                </div>
            </diV>
        </div>
    </div>
</body>