<div class="footer">
    <div class="row">
        <div class="details">
            <h4 class="heading">Velammal Crackers</h4>
            <p class="details1">If you are interested to buy diwali crackers online? Choose us!!!
                Shop quality and safe crackers at Velammal Crackers. We are selling all kinds of crackers at the
                lowest price. </p>
            <p class="details2">We offer various range of fireworks products such as Sparklers,
                Ground Chakkars, Twinkling Stars, Chorsa, Rockets, Flower Pots, Pencils, Atom Bombs and other Fancy
                Items. </p>
        </div>

        <div class="explore">
            <div class="bold heading3"> Explore Us </div>
        </div>
        <div class="contact">
            <div class="bold-heading3"> Contact Info </div>
            <div class="contact-deltails">
                Velammal crackers, 3/58A1B, Anaiyur,Vilampatti road, Othapuli bustop, Sivakasi - 626124
            </div>

            <div class="contact-deltails">
                (+91) 63831 90286
            </div>

            <div class="contact-deltails">
                (+91) 63800 65936
            </div>
            <div class="contact-deltails">
                (+91) 97916 51304
            </div>

            <div class="text1 text-white">
                (+91) 9626 619181
            </div>

            <div class="text1 text-white">
                velammalcrackers&amp;gmail.com
            </div>

        </div>
        <div class="reach">
            <div class="bold-heading3"> Reach Us </div>
        </div>
    </div>
    <div class="rules">
        <p class="para-rules">As per 2018 supreme court order, online sale of firecrackers are not permitted! We value
            our customers
            and at the same time, respect jurisdiction. We request you to add your products to the cart and submit
            the required crackers through the enquiry button. We will contact you within 24 hrs and confirm the
            order through WhatsApp or phone call. Please add and submit your enquiries and enjoy your Diwali with
            Velammal Crackers. Our License No.----. Velammal Crackers as a company following 100% legal & statutory
            compliances and all our shops, go-downs are maintained as per the explosive acts. We send the parcels
            through registered and legal transport service providers as like every other major companies in Sivakasi
            is doing so.</p>
    </div>
    <div class="row pt-3"></div>
    <div>
        <div class="copyright">Copyright &copy; 2022, Velammal Crackers. <span class="wrdbrk">All rights reserved
            </span></div>
    </div>
</div>