<div class="container">
    <div class="product-info">
        <h1 class="product-title">Our Products</h1>
        <p class="product-description">We aim to make our customers satisfied and happy with all of our innovative
            crackers.
            We introduce new crackers and packages every year for our beloved customers.</p>
    </div>

    <div class="row">
        <diV class="col-lg-4 col-md-6 col-12 pt-4 section">
            <div>
                <img class="chakkars-image" src="assets/images/chakkars.jpg" alt="chakkars-image">
            </div>
            <div class="details">
                <div class="details-title">
                    Velammal Crackers
                </div>
                <h5 class="details-description">
                    Grand chakkars
                </h5>
            </div>
        </diV>
        <diV class="col-lg-4 col-md-6 col-12 pt-4 section">
            <div>
                <img class="chakkars-image" src="assets/images/flowerpots.jpg" alt="flowerpots-image">
            </div>
            <div class="details">
                <div class="details-title">
                    Velammal Crackers
                </div>
                <h5 class="details-description">
                    flowerpots
                </h5>
            </div>
        </diV>
        <diV class="col-lg-4 col-md-6 col-12 pt-4 section">
            <div>
                <img class="chakkars-image" src="assets/images/singlesound.jpg" alt="singlesound-image">
            </div>
            <div class="details">
                <div class="details-title">
                    Velammal Crackers
                </div>
                <h5 class="details-description">
                    Singlesound
                </h5>
            </div>
        </diV>
        <diV class="col-lg-4 col-md-6 col-12 pt-4 section">
            <div>
                <img class="chakkars-image" src="assets/images/sparklers.jpg" alt="sparklers-image">
            </div>
            <div class="details">
                <div class="details-title">
                    Velammal Crackers
                </div>
                <h5 class="details-description">
                    Sparklers
                </h5>
            </div>
        </diV>
        <diV class="col-lg-4 col-md-6 col-12 pt-4 section">
            <div>
                <img class="chakkars-image" src="assets/images/giftbox.jpg" alt="giftbox-image">
            </div>
            <div class="details">
                <div class="details-title">
                    Velammal Crackers
                </div>
                <h5 class="details-description">
                    Giftboxs
                </h5>
            </div>
        </diV>
        <diV class="col-lg-4 col-md-6 col-12 pt-4 section">
            <div>
                <img class="chakkars-image" src="assets/images/rockets.jpg" alt="rockets-image">
            </div>
            <div class="details">
                <div class="details-title">
                    Velammal Crackers
                </div>
                <h5 class="details-description">
                    Rockets
                </h5>
            </div>
        </diV>
    </div>
</div>